name: "Commit generated C# code"

on:
  workflow_call:
  workflow_dispatch:

permissions: write-all

jobs:
  run-bindgen:
    name: "Run Bindgen"
    uses: "./.github/workflows/bindgen.yml"

  commit-job:
    name: "Commit generated C# code"
    needs: [run-bindgen]
    runs-on: ubuntu-latest

    steps:
      - name: "Clone Git repository"
        uses: actions/checkout@v2
        with:
          submodules: "true"

      - name: "Download changes to commit"
        uses: actions/download-artifact@v4
        with:
          name: "bindgen-cs"
          path: "./src/cs/production/Tracy/Generated"

      - name: "Add + commit + push (if necessary)"
        uses: EndBug/add-and-commit@v7
        with:
          author_name: "jkachhad"
          author_email: "jkachhad@users.noreply.github.com"
          message: "Update C# bindings"
